# Python
__pycache__/
*.py[cod]
*.class

# Ambiente Virtual
.venv/
venv/
env/

# Variáveis de Ambiente e Segredos
.env

# Banco de Dados
*.db
*.sqlite3
data/*.duckdb
data/*.wal
data/*.json
data/backups/*

# IDEs
.vscode/
.idea/

# Logs
logs/*
!logs/.gitkeep
*.log

# Testes e Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

docs/*
# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
